*{ 
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 }
 html 
   {
    scroll-behavior: smooth;
   }
 body
 {
  background-color: #1d1d1d;
  color: white;
  font-family: Arial, sans-serif;
 }
 .header
 {
   width: 100%;
   padding: 40px 0;
 }
 .container
 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 a
 {
    color: #f5f5f5;
    text-decoration: none;
 }
 nav
 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: 42px;
 }
 .nav a
 {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 15px;
    transition:color 0.3s ease;
 }
 .nav a :hover
 {
    color: #ff6900;
 }
 .cv-btn
 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    background-color: #ff6900;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s ease;
 }
 .cv-btn:hover
 {
   background-color: #e05d00;
 }
 .hero-section
 {
   width: 100%;
   padding: 40px 0 80px 0;
 }
.main-container
{
max-width: 1400px;
margin: 40px auto;
padding: 0 40px 100px 40px;
display: flex;
flex-direction: column;
gap: 120px;
}
.hero-section
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.info
{
   max-width: 50%;
}
.hi
{
   font-size: 15px;
   font-weight: 600;
}
.tamar
{
   color: #ff6900;
   font-size: 18px;
   font-weight: 600;
   margin-top: 5px;
}
.manual
{
   font-size: 55px;
   font-weight: 800;
   line-height: 1.1;
   margin: 15px 0 20px 0;
}
.desc span
{
   display: block;
   color: #b0b0b0;
   font-size: 15px;
   line-height: 1.6;
}
.info p
{
   font-size: 15px;
}
.hire-btn
{
background-color: #ff6900;
color: #f5f5f5;
padding: 12px 32px;
margin-top: 25px;
font-size: 14px;
font-weight: 600;
border: none;
border-radius: 5px;
cursor: pointer;
}
.profile-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-wrapper
{
   position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: 3px solid #555;
}
.img-wrapper img.slide
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center top;
   opacity: 0;
   transition: opacity 0.8s ease-in-out;
}
.img-wrapper img.slide.active 
{
    opacity: 1;
}
.social-links
{
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 25px;
}
.social-links a
{
   color: #ffffff;
   font-size: 18px;
   text-decoration: none;
   transition: color 0.3s ease;
}
.about-section
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   gap: 80px;
}
.about-img-box
{
   width: 45%;
   display: flex;
   justify-content: center;
}
.about-img-wrapper
{
   width: 300px;
   height: 300px;
   border-radius: 50%;
   overflow: hidden;
   border: 3px solid #ff6900;
   background-color: #ffffff;
}
.about-img-wrapper img
{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center top;
   display: block;
}
.about-content
{
   width: 55%;
}
.about-title
{
   font-size: 55px;
   font-weight: 700;
   color: #ffffff;
   margin-bottom: 20px;
}
.about-text
{
    color: #b0b0b0;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 35px;
    max-width: 600px;
}
.skills-list
{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.skill-item
{
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.skill-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(
    to right, 
    #ff6600 0%, 
    #ff6600 var(--value), 
    #ffffff var(--value), 
    #ffffff 100%
  );
}
.skill-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 3px solid #ff6600;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
   .skill-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 3px solid #ff6600;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.services-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.services-section
{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
}
.services-p
{
    display: flex;
    color: #b0b0b0;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 35px;
    max-width: 600px;

}
.service-item {
    background-color: #f8f8f8;
    border-radius: 12px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* მარცხნივ გასწორება */
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.service-icon {
    font-size: 40px;
    color: #ff6600;
    margin-bottom: 25px;
}
.service-title {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    margin: 0 0 15px 0;
}
.service-description {
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    margin: 0;
}